<span class="datz5">人體刮刮樂，請保持微笑</span>	
<video autoplay></video>
<canvas id="sourceCanvas"></canvas>
<canvas id="backCanvas" class="general"></canvas>
<canvas id="frontCanvas"></canvas>

<%= javascript_include_tag 'main', :type => 'text/paperscript', :canvas => 'frontCanvas' %>

<div class="div-qrcode">
	<div id="qrcode"></div>
</div>
