
<!-- <a id="download" href="#" style="color:#fff">Download</a> -->
<img id="image-modified" src="" data-caman="contrast(38) exposure(25) brightness(5) saturation(-100) sharpen(100) "alt="">
<!-- <img id="image-filter" class="image-filter"   src="" alt=""> -->
<img id="image-origin"   src="" alt="">


<script>
	
	var data_url = "<%= @card.url %>";
	
	document.getElementById('image-modified').src = data_url;
	document.getElementById('image-origin').src = data_url;
	// document.getElementById('image-filter').src = data_url;
	
</script>
