// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,html {
	margin:0;
	text-align: center;
	background-color: #424242;
	padding: 15px;
}
video {
	display: none;
}
canvas {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#sourceCanvas {
	display:none;
	
}

#frontCanvas {
	width: 1200px;
	height: 900px;
}

.general {
	filter: contrast(1.1) brightness(1.2);
	-webkit-filter: contrast(1.1) brightness(1.2);
}
.highlight {
	filter: contrast(1.3) brightness(2) grayscale(1);
	-webkit-filter: contrast(1.3) brightness(2) grayscale(1);
}
.image-filter {
	filter: contrast(1.3) brightness(2) grayscale(1);
	-webkit-filter: contrast(1.3) brightness(2) grayscale(1);
}
.div-qrcode {
	position: absolute;
	right: 80px;
	top: 820px;
	color: #fff;
	width: 200px;
	height: 200px;
	background-color: #808080;
	text-align: center;
	img {
		margin: 0 auto;
		margin-top: 20px;
	}
}

.qr-desc {
	position: absolute;
	right: 80px;
	top: 760px;
	color: white;
	width: 200px;
	font-size: 1.5em;
	font-family: "Microsoft Jhenghei";
	text-align: left !important;

}
.desc {
	position: absolute;
	left: 80px;
	top: 760px;
	color: white;
	width: 200px;
	font-size: 1.5em;
	font-family: "Microsoft Jhenghei";
}

footer {
	position: absolute;
	bottom: 0;
	color: #bdbdbd;
	margin: 10px;
}

span {
	font-size:3em;
	color: white;
	margin-top: 50px;
}
a {
	&:link {
		color: #bdbdbd;
	}
	&:active {
		color: #bdbdbd;
	}
	&:visited {
		color: #bdbdbd;
	}
	&:hover {
		color: #bdbdbd;
	}
}