// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,html {
	margin:0;
	text-align: center;
	background-color: #424242;
	padding: 15px;
}
video {
	display: none;
}
canvas {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#sourceCanvas {
	display:none;
	
}

#frontCanvas {
	width: 800px;
	height: 600px;
}

.general {
	filter: contrast(1.1) brightness(1.2);
	-webkit-filter: contrast(1.1) brightness(1.2);
}
.highlight {
	filter: contrast(1.3) brightness(2) grayscale(1);
	-webkit-filter: contrast(1.3) brightness(2) grayscale(1);
}

.qrcode {
	position: absolute;
	right: 100px;
	top: 400px;
	color: #fff;
	width: 150px;
	height: 150px;
	background-color: gray;
}
span {
	font-size:3em;
	color: white;
	margin-top: 50px;
}